name: Zig CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: "0.15.2"
      - name: Zig version
        run: zig version
      - name: Format check
        run: zig fmt --check $(find src -name "*.zig" -type f) build.zig
      - name: Run tests
        run: zig build test
      - name: Build executable
        run: zig build
